<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5912.0">
	<notifications newPostNotificationTemplateId="18fa59fa-9510-6d27-9d3c-ff0000f917a4" newThreadNotificationTemplateId="19fa59fa-9510-6d27-9d3c-ff0000f917a4" />
</forumsConfig>