<?xml version="1.0" encoding="utf-8"?>
<pagesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5912.0" defaultFrontendTemplateId="ba045afa-9510-6d27-9d3c-ff0000f917a4" backendHomePageId="f669d9a7-009d-4d83-aaaa-700000000001" />