<?xml version="1.0" encoding="utf-8"?>
<resourcesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5912.0" defaultCultureKey="portuguese-pt" multilingual="True">
	<cultures>
		<clear />
		<add culture="en" uiCulture="en" key="english-en" />
		<add culture="pt" uiCulture="pt" key="portuguese-pt" />
		<add culture="es" uiCulture="es" key="spanish-es" />
	</cultures>
	<backendCultures>
		<clear />
		<add culture="en" uiCulture="en" key="english-en" />
	</backendCultures>
</resourcesConfig>