<section class="totvs-enchantment container-fluid hidden-md hidden-sm hidden-xs">
    <div id="video-carousel" class="carousel slide" data-ride="carousel" data-video-carousel data-carousel-swipe-events>
        <ol class="carousel-indicators">
            <li data-target="#video-carousel" data-slide-to="0" class="active">
                <span class="arrow-up"></span>
                <p class="sub-title">Institucional</p>
                <p class="title">Você sabe quem é a TOTVS?</p>
            </li>
            <li data-target="#video-carousel" data-slide-to="1" class="">
                <span class="arrow-up"></span>
                <p class="sub-title">Cases de sucesso</p>
                <p class="title">Como a Brasnica potencializou sua produçäo</p>
            </li>
            <li data-target="#video-carousel" data-slide-to="2" class="">
                <span class="arrow-up"></span>
                <p class="sub-title">Noticias</p>
                <p class="title">TOTVS V12 inova com releases incrementais</p>
            </li>
            <li data-target="#video-carousel" data-slide-to="3" class="">
                <span class="arrow-up"></span>
                <p class="sub-title">Amigos</p>
                <p class="title">Saiba tudo sobre o Bloco K</p>
            </li>
            <li data-target="#video-carousel" data-slide-to="4" class="">
                <span class="arrow-up"></span>
                <p class="sub-title">Noticias</p>
                <p class="title">TOTVS entre as que mais geram valor aos clientes</p>
            </li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <video class="video-slide" preload>
                    <!-- <source src="src/videos/video-home.mov"> -->
                    <source src="src/videos/video-home.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
                <div class="carousel-caption">
                    <span>Quer saber como tornar sua</span>
                    <span class="icon sprite play"></span>
                    <span>empresa mais competitiva e lucrativa?</span>
                </div>
            </div>
            <div class="item">
                <video class="video-slide" preload>
                    <!-- <source src="src/videos/video-home.mov"> -->
                    <source src="src/videos/video-home.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
                <div class="carousel-caption">
                    <span>Brasnica potencializou sua</span>
                    <span class="icon sprite play"></span>
                    <span>produçäo e reduziu custos</span>
                </div>
            </div>
            <div class="item">
                <video class="video-slide" preload>
                    <!-- <source src="src/videos/video-home.mov"> -->
                    <source src="src/videos/video-home.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
                <div class="carousel-caption">
                    <span>Garanta a sustentabilidade de suas</span>
                    <span class="icon sprite play"></span>
                    <span>obras e a governança de sua empresa.</span>
                </div>
            </div>
            <div class="item">
                <video class="video-slide" preload>
                    <!-- <source src="src/videos/video-home.mov"> -->
                    <source src="src/videos/video-home.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
                <div class="carousel-caption">
                    <span>Garanta abrangência, eficiência e </span>
                    <span class="icon sprite play"></span>
                    <span>confiabilidade em seus resultados.</span>
                </div>
            </div>
            <div class="item">
                <video class="video-slide" preload>
                    <!-- <source src="src/videos/video-home.mov"> -->
                    <source src="src/videos/video-home.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
                <div class="carousel-caption">
                    <span>Está difícil prever o</span>
                    <span class="icon sprite play"></span>
                    <span>futuro da sua empresa?</span>
                </div>
            </div>
        </div>
    </div>
</section>