@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.RelatedData;

<ul class="list-unstyled">
    @foreach (var item in Model.Items)
    {
        var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage);

        <li>
            <a href="@navigateUrl">@item.Fields.Title</a>
            @if (item.RelatedItem("Image") != null)
            {
                <img src="@item.Fields.Image.Fields.MediaUrl" />
            }
        </li>
    }
</ul>
